In [1]:
#arithmetic operators

a=10
b=20


print("addition is",a+b)
print("subtraction is",a-b)
print("divition is",a/b)
print("reminder is",a%b)
print("power is",a**b)
print("multipliction is",a*b)

addition is 30
subtraction is -10
divition is 0.5
reminder is 10
power is 100000000000000000000
multipliction is 200

In [2]:
r=5
h=10
a=3.14*r*r*h

print("area",a)

area 785.0

In [3]:
l=5
b=5
a=(l*b)/2

print("area",a)

area 12.5

In [4]:
#my self

print("my name is axil rana")
print("i am student")
print("mt father name is chandreshbhai")
print("my mother name is parulben")
print("i am finish my diploma in 2022")

my name is axil rana
i am student
mt father name is chandreshbhai
my mother name is parulben
i am finish my diploma in 2022

In [5]:
#about india
print("india is a country in south asia")
print(" Its capital is New Delhi")
print(" It is the seventh-largest country by area")
print("and it pm of india is narendra modi")

india is a country in south asia
 Its capital is New Delhi
 It is the seventh-largest country by area
and it pm of india is narendra modi

In [9]:
#LOGICAL opretor

a=eval(input("enter a"))
b=eval(input("enter b"))
c=eval(input("enter c"))
if(a>b) or (a>c):
    print(a ,'is maximum')
elif(b>c):
        print(b ,'is maximum')
else:
            print(c ,'is maximum')

enter a22
enter b44
enter c55
55 is maximum

In [12]:
#relational oprator

n=eval(input("enter number"))
if(n>0):
    print("positiv number")
else:
    print("nagitiv number")

enter number22
positiv number

In [13]:
n=eval(input("enter number"))
if (n%2==0):
    print("even number")
else:
    print("odd number")

enter number15
odd number

In [16]:
n=eval(input("enter number"))
if (n<18):
    print('you are chaild')
else:
    print('you are adult')

enter number22
you are adult

In [18]:
n=eval(input("enter year"))
if (n%4==0):
    print('this is lipyear')
else :
    print("thi is not lip year")

enter year2024
this is lipyear