In [1]:
def greet():
    print("Hello")
    print("how are you")
    
greet()

Hello
how are you

In [2]:
def max():
    a = 10
    b = 20
    if a>b:
        print('a =',a,'is greater then b')
    else:
        print('b =',b,'is greater then a')
        
max()

b = 20 is greater then a

In [3]:
def min(a,b):
    if a<b:
        print('a =',a,' is less then b')
    else:
        print('b =',b,' is less then a')
min(2,3)

a = 2  is less then b

In [4]:
def min(a,b):
    if a<b:
        print('a =',a,' is less then b')
    else:
        print('b =',b,' is less then a')
a = eval(input("enter the value of a"))
b = eval(input("enter the value of b"))
min(a,b)

enter the value of a23
enter the value of b37
a = 23  is less then b

In [5]:
def min(a,b):
    if a<b:
        return a
    else:
        return b
result = min(3,2)
print("the minimum from given value will be ", result)

the minimum from given value will be  2

In [7]:
def namelenght(s1):
    l = len(s1)
    return l
ans = namelenght('dhyan panchal')
print('the length of your name is', ans)

the length of your name is 13

In [2]:
def my_function(*kids):
    print("the youngest child is " + kids[1])
my_function("emil","tobiass","linus")

the youngest child is tobiass

In [3]:
def my_function(country = "norway"):
    print("i am from " + country)
my_function("swden")
my_function("india")
my_function()
my_function("brazil")

i am from swden
i am from india
i am from norway
i am from brazil

In [1]:
class  test:
    def fun1(self):
        print("axil")
    def display(self,string):
        print(string)
    def printmsg(self,name):
        return name
o1 = test()
o1.fun1()
o1.display("axil")
result = o1.printmsg("axil")
print(result)

axil
axil
axil

In [7]:
#max function withour arg and no return
def max(a,b):
    if a>b:
        print('a =',a,' is greter then b')
    else:
        print('b =',b,' is greter then a')
a = eval(input("enter the value of a"))
b = eval(input("enter the value of b"))
max(a,b)

enter the value of a112
enter the value of b2334
b = 2334  is greter then a

In [16]:
def type():
    a = eval(input("enter the value of a"))
    if a%2==0:
        print('a =',a,' is evan')
    else:
        print('a =',a,' is odd')
type()

enter the value of a365
a = 365  is odd

In [17]:
# leap year no arg no return
def type():
    a = eval(input("enter the value of a"))
    if a%4==0:
        print('a =',a,' is leap year')
    else:
        print('a =',a,' is non leap year')
type()

enter the value of a2348
a = 2348  is leap year

In [13]:
# evan odd with arg but no return
def type(a):
    if a%2==0:
        print('a =',a,' is evan')
    else:
        print('a =',a,' is odd')
a = eval(input("enter the value of a"))
type(a)

enter the value of a13
a = 13  is odd

In [15]:
# leap year with are but no return
def type(a):
    if a%4==0:
        print('a =',a,' is leap year')
    else:
        print('a =',a,' is non leap year')
a = eval(input("enter the value of a"))
type(a)

enter the value of a2022
a = 2022  is non leap year

In [3]:
class a:
    def type(self):
        a = eval(input("enter the value of a"))
        if a%4==0:
            print('a =',a,' is leap year')
        else:
            print('a =',a,' is non leap year')
o1 = a()
o1.type()

enter the value of a43
a = 43  is non leap year

In [ ]:
class a:
    def type(self,b):
        if a%4==0:
            print('a =',a,' is leap year')
        else:
            print('a =',a,' is non leap year')
a = eval(input("enter the value of a "))
o1.type(b)

In [2]:
def table():
    i = 1
    num = eval(input("enter the number for table "))
    while(i<=10):
        print(num,'*',i,'=',num*i)
        i+=1
table()

enter the number for table 18
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180