In [4]:
#counstroctor and fumction in class together
#counstroctir are like functions

class Addition:
    first = 0
    second = 0
    answer = 0
#parammetrized constroctor
    def __init__(self,f,s):
        self.first = f
        self.second = s
    def calculate(self):
        self.answer = self.first + self.second
    def display(self):
        print("first number = ",str(self.first))
        print("second number = ",str(self.second))
        print("Addition of two number is",str(self.answer))
obj = Addition(1000,2000)
obj.calculate()
obj.display()

first number =  1000
second number =  2000
Addition of two number is 3000

In [15]:
class employee:
    def __init__(self,name,age,id,salary):
        self.name = name
        self.age = age
        self.id = id
        self.salary = salary
        
emp1 = employee('arun',23,2000,25000)
emp2 = employee('harshit',22,1000,12340)

print(emp2.name,emp2.age)
print(emp1.name,emp1.id)
print(emp1.__dict__)
print(emp2.__dict__)

harshit 22
arun 2000
{'name': 'arun', 'age': 23, 'id': 2000, 'salary': 25000}
{'name': 'harshit', 'age': 22, 'id': 1000, 'salary': 12340}

In [17]:
class employee1():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
class childemployee(employee1):
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
        
emp1=employee1('harshit',22,10000)
emp2=childemployee('amit',20,2500,2)
print(emp1.name)
print(emp1.__dict__)
print(emp2.__dict__)

harshit
{'name': 'harshit', 'age': 22, 'salary': 10000}
{'name': 'amit', 'age': 20, 'salary': 2500, 'id': 2}

In [18]:

class employee1():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class employee2(employee1):
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
        
class childemployee(employee1):
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
        
emp1=employee1('harshit',22,1000)
emp2=childemployee('arjun',23,2000,1234)
print(emp1.name)
print(emp1.__dict__)
print(emp2.id)

harshit
{'name': 'harshit', 'age': 22, 'salary': 1000}
1234

In [21]:
#hierichical inheritance
class employee():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class childemployee1():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class childemployee2():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
emp1=employee('harshit',22,1000)
emp2=employee('arjun',23,2000)

print(emp1.__dict__)
print(emp2.__dict__)

{'name': 'harshit', 'age': 22, 'salary': 1000}
{'name': 'arjun', 'age': 23, 'salary': 2000}

In [23]:
#multilevel inheritance
class employee():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class childemployee1():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class childemployee2():
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
emp1=employee1('harshit',22,1000)
emp2=childemployee1('arjun',23,2000)
emp3=childemployee2('dhyan',5,25000)

print(emp1.__dict__)
print(emp2.__dict__)
print(emp3.__dict__)

{'name': 'harshit', 'age': 22, 'salary': 1000}
{'name': 'arjun', 'age': 23, 'salary': 2000}
{'name': 'dhyan', 'age': 5, 'salary': 25000}

In [26]:
#super function
class parent1:
    def __init__(self,eid,ename,eage):
        self.eid=eid
        self.ename=ename
        self.eage=eage
class parent2(parent1):
    def __init__(self,eid,ename,eage,esal):
        super().__init__(eid,ename,eage)
        self.esal=esal
class parent3(parent2):
    def __init__(self,eid,ename,eage,esal):
        super().__init__(eid,ename,eage,esal)
    def printv(self):
        print(self.eid)
        print(self.ename)
        print(self.eage)
        print(self.esal)

p = parent3(1,"dhyan",20,40)
p.printv()

1
dhyan
20
40