In [2]:
num=eval(input("enter the num"))
if (num>0):
    print('number is possitive')
else:
    print("number is nagitive")

enter the num-22
number is nagitive

In [6]:
num=eval(input("enter a number"))
if(num%2==0):
    print("number is even")
else:
    print("number is odd")

enter a number23
number is odd

In [7]:
num=eval(input("enter a year"))
if (num%4==0):
    print("year is leap year")
else:
    print("year is not leap year")

enter a year2002
year is not leap year

In [10]:
num1,num2=eval(input("enter two number"))
if (num1>num2):
    print("num1 is maximum")
else:
    print("num2 is maximum")

enter two number22,33
num2 is maximum

In [11]:
num1=22
num2=33
num3=24
if(num1<num2)and(num1<num3):
    print("num1 is minimum")
elif(num2<num3):
    print("num2 is minimum")
else:
    print("num3 is minimum")

num1 is minimum

In [25]:
sub1=eval(input("enter the chemistry marks: "))
sub2=eval(input("enter the chemistry marks math: "))
sub3=eval(input("enter the chemistry marks phy: "))

total= sub1 + sub2 + sub3
print("total is:", total)
per = total / 3
print("per is :",per)

if (per>=80):
    print("your gread is A")
 
elif (per>=60):
     print("your gread is B")
    
elif (per>=40):    
     print("your gread is C")
        
else:
     print("your are failed")

enter the chemistry marks: 55
enter the chemistry marks math: 22
enter the chemistry marks phy: 10
total is: 87
per is : 29.0
your are failed

In [31]:
n=1
while(n<=20):
    print(n,end=" ")
    n+=2

1 3 5 7 9 11 13 15 17 19

In [2]:
m=2
while(m<=20):
    print(m)
    m+=2

2
4
6
8
10
12
14
16
18
20